# https://php.watch/articles/composer-gitattributes

# Exclude build/test files from archive
/.gitattributes   export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff
