{
    "name": "{package_name}",
    "description":" ",
    "keywords":[
    ],
    "license": "BSD-3-Clause",
    "autoload":{
        "psr-4":{
            "__Vendor__\\__Package__\\": "src/"
        }
    },
    "autoload-dev":{
        "psr-4":{
            "__Vendor__\\__Package__\\": ["tests/", "tests/Fake"]
        }
    },
    "minimum-stability": "dev",
    "prefer-stable": true,
    "extra": {
        "branch-alias": {
            "dev-develop": "0.1.x-dev"
        }
    }
}
